<head>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">





<script src="https://d3js.org/d3.v3.min.js"></script>

 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://rawgit.com/swisnl/jQuery-contextMenu/master/src/jquery.contextMenu.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/static/libs.js"></script>
<script src="/static/scripts.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script><link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<link href="/static.tgportfolio/assets/favion.ico" rel="icon" type="image/x-icon">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


var GA_LOCAL_STORAGE_KEY = 'ga:clientId';

if (window.localStorage) {
//  ga('create', 'UA-75700815-1', {
    ga('create', 'UA-104114873-2', {
    'storage': 'none',
    'clientId': localStorage.getItem(GA_LOCAL_STORAGE_KEY)
  });
  ga(function(tracker) {
    localStorage.setItem(GA_LOCAL_STORAGE_KEY, tracker.get('clientId'));
  });
}
else {
  ga('create', 'UA-104114873-2', 'auto');
}

ga('send', 'pageview');




</script>


    </head>
<body>
<div class="sidebar branding-below container-fluid">
    <div class="row">

        <div id="title_area_blue" class="blue_back col-sm-4"><h1 class="white_text_header">myamerica.life</h1>
            <small><p id="small_header_text"class="white_text_header">"Keep, ancient lands, your storied pomp!" cries she<br>With silent lips. "Give me your tired, your poor, Your huddled masses yearning to breathe free, The wretched refuse of your teeming shore. Send these, the homeless, tempest-tost to me, I lift my lamp beside the golden door!"</p></small>
        </div>

        <div id="flag_area" class="col-sm-8 red_back">
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
            <div class="row">
                <div class="red_back col-sm-12"></div>
            </div>
            <div class="row">
                <div class="white col-sm-12"></div>
            </div>
        </div>
    </div>

    <div class="container"><p class="lead"> A collection of free apps, services and resources to empower you to become a proud and informed US citizen.	</p></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="display-6 text-center">Apps</h3>
            </div>
        </div>


        <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
      <div class="row">
      <div class="col-sm-6">
        <h3 class="card-title">Citizenship</h3>
        <p class="card-text">Civics Test Digital Flash Cards</p>
        </div><div class="col-sm-6"><p> More coming soon</p></div>
        </div>
            <div id="img_div">

                        <a target="_blank" href="/static/citi-app-demo/index.html"  role="button"><div id= "blue_cloud">  </div></a>

                     <p class="small">
                           Start</p>
      </div>
    </div>
  </div>

  </div>


         </div>



         <div class="container">&nbsp;</div>


        <div class="row">

            <div class="col-sm-4">

                <div class="row">
                    <div class="col-sm-6"><button type="button" class="btn btn-primary btn-sm btn-block " onclick='show_service_list("services");'>Services</button></div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-sm-6"><button type="button" class="btn btn-primary btn-sm btn-block " onclick='show_video_list("videos");'>Videos</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"> <a target="_blank" href="/blog"> <button type="button" class="btn btn-primary btn-sm btn-block ">Blog</button></a></div>
                </div>
            </div>

            <div class="col-sm-8">

                <div class="row">
                    <div class="col-sm-12"><div id="display_items"></div>
                </div>
            </div>

        </div>







     </div>


 </div>

 </div>

 </div>


 </div>







<div id="bottom" class="sidebar bottom">
  <font size="-3">
                   By: <a target='_blank'href="http://learnin60seconds.com" onclick="ga('send', 'event', 'Myamerica.life External Link Li60 New', 'Click', 'Myamerica.life  External Li60 Link Click New');"><img src='https://raw.githubusercontent.com/tanyagupta/tanyagupta.github.io/master/148294770832813.png' width='100' height='16' target="_new"></a>

          o&nbsp;<a href="mailto:myamericalife@li60.zendesk.com?Subject=myamerica.life%" target="_top">Help</a>&nbsp;&nbsp;o
          <a href="https://tanyagupta.github.io/tos.html" target="_new">Terms of Service</a>&nbsp;&nbsp;o
           Docs Add-On <a href="https://gsuite.google.com/marketplace/app/word_cloud_generator/360115564222" target="_new" onclick="ga('send', 'event', 'Myamerica.life External Link Doc Add On New', 'Click', 'Myamerica.life External Web App Link Click New');">word cloud generator </a>&nbsp;&nbsp;
           o
           <a href="http://wordtagcloud.com" target="_new" onclick="ga('send', 'event', 'Myamerica.life External Link', 'Click', 'Myamerica.life External link');">wordtagcloud.com </a>&nbsp;&nbsp;<a target="_new" href='https://ko-fi.com/A42728J4' onclick="ga('send', 'event', 'Myamerica.life External Link Buy Coffee', 'Click', 'Myamerica.life External Buy Coffee Link Click New');"><br>o Buy us coffee</a> or sign up for <a target="_blank" href="https://www.ebates.com/r/GUPTAT4?eeid=35386">ebates.com</a>







          </font>




</div>




    </body>
